<form [formGroup]="EmployeeDetails" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="Fname">First Name</label>
    <input formControlName="firstname" type="text" class="form-control" id="Fname" placeholder="Enter firstname">
  </div>
  <div class="form-group">
    <label for="Lname">Password</label>
    <input formControlName="lastname" type="text" class="form-control" id="Lname" placeholder="Enter lastname">
  </div>
  <div class="form-group">
    <label for="Email">Email</label>
    <input formControlName="emailAddress" type="email" class="form-control" id="Email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="Contact">Contact</label>
    <input formControlName="contact_no" type="number" class="form-control" id="Contact" placeholder="Enter Contact no">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
